.home {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.home__title {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.home__search-container {
  text-align: center;
  padding: 2rem 0;
}

.home__input {
  width: 90%;
  max-width: 500px;
  padding: 10px;
  font-size: 1.25rem;
  
}

.home__list {
  list-style-type: none;
}