* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
}

body {
  font-family: sans-serif;
  background-color: #111111;
}


@media screen and (min-width:800px) {
  html {
    font-size: 100%;
  }
}